@page "/scheduling/test-blazor-form"
@using Microsoft.AspNetCore.Components.Forms

<h3>Test Blazor Form</h3>
<EditForm Model="testModel" OnValidSubmit="OnValidSubmit">
    <InputText @bind-Value="testModel.Name" />
    <ValidationMessage For="@(() => testModel.Name)" />
    <button type="submit">Submit</button>
</EditForm>

@code {
    private TestModel testModel = new();
    private void OnValidSubmit() { }
    public class TestModel { public string? Name { get; set; } }
}
