
@page "/criminal/jail-cc-plea"
@using System.ComponentModel.DataAnnotations
@using Munientry.Poc.Client.Dtos

<h2>Plea of Guilty - Jail/CC Only</h2>

<EditForm Model="jailCcModel" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="form-group">
		<label>Defendant First Name</label>
		<InputText @bind-Value="jailCcModel.DefendantFirstName" class="form-control" />
		<ValidationMessage For="() => jailCcModel.DefendantFirstName" />
	</div>
	<div class="form-group">
		<label>Defendant Last Name</label>
		<InputText @bind-Value="jailCcModel.DefendantLastName" class="form-control" />
		<ValidationMessage For="() => jailCcModel.DefendantLastName" />
	</div>
	<div class="form-group">
		<label>Case Number</label>
		<InputText @bind-Value="jailCcModel.CaseNumber" class="form-control" />
		<ValidationMessage For="() => jailCcModel.CaseNumber" />
	</div>
	<div class="form-group">
		<label>Date</label>
		<InputDate @bind-Value="jailCcModel.Date" class="form-control" />
		<ValidationMessage For="() => jailCcModel.Date" />
	</div>
	<div class="form-group">
		<label>Defense Counsel Name</label>
		<InputText @bind-Value="jailCcModel.DefenseCounselName" class="form-control" />
	</div>
	<div class="form-group">
		<label>Defense Counsel Type</label>
		<InputSelect @bind-Value="jailCcModel.DefenseCounselType" class="form-control">
			<option value="">Select...</option>
			<option>Public Defender</option>
			<option>Private Counsel</option>
		</InputSelect>
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="jailCcModel.DefenseCounselWaived" /> Defendant waived right to counsel
	</div>
	<div class="form-group">
		<label>Appearance Reason</label>
		<InputSelect @bind-Value="jailCcModel.AppearanceReason" class="form-control">
			<option value="">Select...</option>
			<option>arraignment</option>
			<option>a change of plea</option>
			<option>sentencing</option>
		</InputSelect>
	</div>
	<div class="form-group">
		<label>Charges (Offense, Statute, Degree, Allied, Plea, Finding, Fines, Fines Suspended, Dismissed, Jail Days, Jail Days Suspended)</label>
		<textarea @bind="jailCcModel.Charges" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="jailCcModel.OffenseOfViolence" /> Offense of Violence
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="jailCcModel.VictimStatements" /> Court Heard Victim Statements
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="jailCcModel.VictimNotification" /> Fingerprinting and Victim Notification
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="jailCcModel.Impoundment" /> Immobilize/Impound
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="jailCcModel.CommunityControl" /> Community Control
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="jailCcModel.LicenseSuspension" /> License Suspension
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="jailCcModel.CommunityService" /> Community Service
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="jailCcModel.OtherConditions" /> Other Conditions
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="jailCcModel.AdditionalConditions" /> Add Additional Conditions
	</div>
	<div class="form-group">
		<label>Jail Credit and Reporting</label>
		<InputNumber @bind-Value="jailCcModel.JailTimeCreditDays" class="form-control" placeholder="Days in jail" />
		<label>Apply JTC to:</label>
		<InputSelect @bind-Value="jailCcModel.JailTimeCreditApply" class="form-control">
			<option value="">Select...</option>
			<option>Costs and Fines</option>
			<option>Sentence</option>
		</InputSelect>
		<label>Currently In Jail:</label>
		<InputSelect @bind-Value="jailCcModel.InJail" class="form-control">
			<option value="">Select...</option>
			<option>Yes</option>
			<option>No</option>
		</InputSelect>
		<label>Companion Cases</label>
		<InputText @bind-Value="jailCcModel.CompanionCases" class="form-control" />
		<label>Companion Case Jail Time Served:</label>
		<InputSelect @bind-Value="jailCcModel.CompanionCasesSentence" class="form-control">
			<option value="">Select...</option>
			<option>consecutively</option>
			<option>concurrently</option>
		</InputSelect>
		<InputCheckbox @bind-Value="jailCcModel.JailReportingTerms" /> Set Jail Reporting Terms
		<InputCheckbox @bind-Value="jailCcModel.AddJailReportDate" /> Add Jail Report Date
	</div>
	<div class="form-group">
		<label>Pay Today</label>
		<InputNumber @bind-Value="jailCcModel.PayToday" class="form-control" />
	</div>
	<div class="form-group">
		<label>Monthly Pay</label>
		<InputNumber @bind-Value="jailCcModel.MonthlyPay" class="form-control" />
	</div>
	<div class="form-group">
		<label>Court Costs</label>
		<InputSelect @bind-Value="jailCcModel.CourtCosts" class="form-control">
			<option value="">Select...</option>
			<option>Yes</option>
			<option>Waived</option>
			<option>Imposed in companion case</option>
			<option>No</option>
		</InputSelect>
	</div>
	<div class="form-group">
		<label>Time to Pay</label>
		<InputSelect @bind-Value="jailCcModel.TimeToPay" class="form-control">
			<option value="">Select...</option>
			<option>forthwith</option>
			<option>monthly pay</option>
			<option>partial forthwith then monthly pay</option>
		</InputSelect>
	</div>
	<div class="form-group">
		<label>Due Date</label>
		<InputDate @bind-Value="jailCcModel.DueDate" class="form-control" />
	</div>
	<div class="form-group">
		<label>FRA shown in complaint</label>
		<InputSelect @bind-Value="jailCcModel.FraInFile" class="form-control">
			<option value="">Select...</option>
			<option>N/A</option>
			<option>Yes</option>
			<option>No</option>
		</InputSelect>
	</div>
	<div class="form-group">
		<label>FRA shown in court</label>
		<InputSelect @bind-Value="jailCcModel.FraInCourt" class="form-control">
			<option value="">Select...</option>
			<option>N/A</option>
			<option>Yes</option>
			<option>No</option>
		</InputSelect>
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="jailCcModel.DistractedDriving" /> Add Distracted Driving Course Language
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
	private JailCcPleaDto jailCcModel = new();

	private async Task HandleValidSubmit()
	{
		// TODO: Call API to submit form
	}
}
