
@page "/criminal/not-guilty-appear-bond-special"
@using Munientry.Poc.Client.Shared.Models
@inject HttpClient Http

<h2>Not Guilty Plea / Appear on Warrant / Bond Modification Special Bond Conditions Dialog</h2>

<EditForm Model="specialForm" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="form-group">
		<label>Defendant First Name</label>
		<InputText class="form-control" @bind-Value="specialForm.DefendantFirstName" />
		<ValidationMessage For="@(() => specialForm.DefendantFirstName)" />
	</div>
	<div class="form-group">
		<label>Defendant Last Name</label>
		<InputText class="form-control" @bind-Value="specialForm.DefendantLastName" />
		<ValidationMessage For="@(() => specialForm.DefendantLastName)" />
	</div>
	<div class="form-group">
		<label>Case Number</label>
		<InputText class="form-control" @bind-Value="specialForm.CaseNumber" />
		<ValidationMessage For="@(() => specialForm.CaseNumber)" />
	</div>
	<div class="form-group">
		<label>Bond Type</label>
		<InputText class="form-control" @bind-Value="specialForm.BondType" />
	</div>
	<div class="form-group">
		<label>Bond Amount</label>
		<InputText class="form-control" @bind-Value="specialForm.BondAmount" />
	</div>
	<div class="form-group">
		<label>Bond Modification Decision</label>
		<InputText class="form-control" @bind-Value="specialForm.BondModificationDecision" />
	</div>
	<div class="form-group">
		<label>No Contact Name</label>
		<InputText class="form-control" @bind-Value="specialForm.NoContactName" />
	</div>
	<div class="form-group">
		<label>Custodial Supervision Supervisor</label>
		<InputText class="form-control" @bind-Value="specialForm.CustodialSupervisionSupervisor" />
	</div>
	<div class="form-group">
		<label>Admin License Suspension Objection</label>
		<InputText class="form-control" @bind-Value="specialForm.AdminLicenseSuspensionObjection" />
	</div>
	<div class="form-group">
		<label>Admin License Suspension Disposition</label>
		<InputText class="form-control" @bind-Value="specialForm.AdminLicenseSuspensionDisposition" />
	</div>
	<div class="form-group">
		<label>Admin License Suspension Explanation</label>
		<InputText class="form-control" @bind-Value="specialForm.AdminLicenseSuspensionExplanation" />
	</div>
	<div class="form-group">
		<label>Vehicle Make/Model</label>
		<InputText class="form-control" @bind-Value="specialForm.VehicleMakeModel" />
	</div>
	<div class="form-group">
		<label>Vehicle License Plate</label>
		<InputText class="form-control" @bind-Value="specialForm.VehicleLicensePlate" />
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="specialForm.TowToResidence" />
		<label>Tow to Residence</label>
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="specialForm.MotionToReturnVehicle" />
		<label>Motion to Return Vehicle</label>
	</div>
	<div class="form-group">
		<label>State Opposes</label>
		<InputText class="form-control" @bind-Value="specialForm.StateOpposes" />
	</div>
	<div class="form-group">
		<label>Disposition Motion to Return</label>
		<InputText class="form-control" @bind-Value="specialForm.DispositionMotionToReturn" />
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="specialForm.VacateResidence" />
		<label>Vacate Residence</label>
	</div>
	<div class="form-group">
		<label>Residence Address</label>
		<InputText class="form-control" @bind-Value="specialForm.ResidenceAddress" />
	</div>
	<div class="form-group">
		<label>Exclusive Possession To</label>
		<InputText class="form-control" @bind-Value="specialForm.ExclusivePossessionTo" />
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="specialForm.SurrenderWeapons" />
		<label>Surrender Weapons</label>
	</div>
	<div class="form-group">
		<label>Surrender Weapons Date</label>
		<InputText class="form-control" @bind-Value="specialForm.SurrenderWeaponsDate" />
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@if (submitResult != null)
{
	<div class="alert alert-info">@submitResult</div>
}

@code {
	private NotGuiltyAppearBondSpecialDto specialForm = new();
	private string? submitResult;

	private async Task HandleValidSubmit()
	{
		var response = await Http.PostAsJsonAsync("/api/notguiltyappearbondspecial", specialForm);
		if (response.IsSuccessStatusCode)
		{
			submitResult = "Entry saved successfully.";
		}
		else
		{
			submitResult = "Error saving entry.";
		}
	}
}
