@page "/notices/notices-freeform-civil"
@using Munientry.Poc.Client.Shared.Models

<div class="form-page">
<div class="form-card">
<h2>Notices &amp; Freeform Civil</h2>

<EditForm Model="formModel" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div>
		<label>Case Number</label>
		<InputText @bind-Value="formModel.CaseNumber" />
	</div>
	<div>
		<label>Entry Date</label>
		<InputDate @bind-Value="formModel.EntryDate" />
	</div>
	<div>
		<label>Defendant First Name</label>
		<InputText @bind-Value="formModel.DefendantFirstName" />
	</div>
	<div>
		<label>Defendant Last Name</label>
		<InputText @bind-Value="formModel.DefendantLastName" />
	</div>
	<div>
		<label>Notice Text</label>
		<InputTextArea @bind-Value="formModel.NoticeText" />
	</div>
	<button type="submit">Submit</button>
</EditForm>

</div>
</div>

@code {
	private NoticesFreeformCivilDto formModel = new();

	private async Task HandleValidSubmit()
	{
		// TODO: Call API to save form data
	}
}
