@page "/admin/time-to-pay-order"
@using Munientry.Client.Dtos

<h2>Time to Pay Order Dialog</h2>

<EditForm Model="formModel" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div>
		<label>Case Number</label>
		<InputText @bind-Value="formModel.CaseNumber" />
	</div>
	<div>
		<label>Entry Date</label>
		<InputDate @bind-Value="formModel.EntryDate" />
	</div>
	<div>
		<label>Defendant First Name</label>
		<InputText @bind-Value="formModel.DefendantFirstName" />
	</div>
	<div>
		<label>Defendant Last Name</label>
		<InputText @bind-Value="formModel.DefendantLastName" />
	</div>
	<div>
		<label>Appearance Date</label>
		<InputDate @bind-Value="formModel.AppearanceDate" />
	</div>
	<button type="submit">Submit</button>
</EditForm>

@code {
	private TimeToPayOrderDto formModel = new();

	private async Task HandleValidSubmit()
	{
		// TODO: Call API to save form data
	}
}
