@page "/"

<h1>MuniEntry - Blazor Pages (.NET)</h1>
<p>Conversion of Legacy Python Forms for the City of Delaware, OH.</p>
<p>Read-only from database and enable Microsoft Word docx export of values into predefined templates </p>
