@page "/probation/community-control-terms-notices"
@using Munientry.Poc.Client.Shared.Models

<h2>Terms of Community Control / Notice of Community Control Violation Hearing Dialog</h2>

<EditForm Model="formModel" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div>
		<label>Case Number</label>
		<InputText @bind-Value="formModel.CaseNumber" />
	</div>
	<div>
		<label>Entry Date</label>
		<InputDate @bind-Value="formModel.EntryDate" />
	</div>
	<div>
		<label>Defendant First Name</label>
		<InputText @bind-Value="formModel.DefendantFirstName" />
	</div>
	<div>
		<label>Defendant Last Name</label>
		<InputText @bind-Value="formModel.DefendantLastName" />
	</div>
	<div>
		<label>Hearing Date</label>
		<InputDate @bind-Value="formModel.HearingDate" />
	</div>
	<div>
		<label>Hearing Time</label>
		<InputText @bind-Value="formModel.HearingTime" />
	</div>
	<div>
		<label>Assigned Courtroom</label>
		<InputText @bind-Value="formModel.AssignedCourtroom" />
	</div>
	<div>
		<label>Defense Counsel Name</label>
		<InputText @bind-Value="formModel.DefenseCounselName" />
	</div>
	<div>
		<label>Violation Type</label>
		<InputText @bind-Value="formModel.ViolationType" />
	</div>
	<div>
		<label>Interpreter Required</label>
		<InputCheckbox @bind-Value="formModel.InterpreterRequired" />
	</div>
	<div>
		<label>Language Required</label>
		<InputText @bind-Value="formModel.LanguageRequired" />
	</div>
	<button type="submit">Submit</button>
</EditForm>

@code {
	private CommunityControlTermsNoticesDto formModel = new();

	private async Task HandleValidSubmit()
	{
		// TODO: Call API to save form data
	}
}
