@page "/probation/community-control-terms"
@using System.ComponentModel.DataAnnotations

<PageTitle>Community Control Terms</PageTitle>

<h3>Community Control Terms</h3>

<EditForm Model="communityControlModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset>
        <legend>Case/Defendant Information</legend>
        <div class="form-row">
            <label>Defendant First Name:</label>
            <InputText @bind-Value="communityControlModel.DefendantFirstName" class="form-control" />
        </div>
        <div class="form-row">
            <label>Defendant Last Name:</label>
            <InputText @bind-Value="communityControlModel.DefendantLastName" class="form-control" />
        </div>
        <div class="form-row">
            <label>Case Number:</label>
            <InputText @bind-Value="communityControlModel.CaseNumber" class="form-control" />
        </div>
        <div class="form-row">
            <label>Entry Date:</label>
            <InputDate @bind-Value="communityControlModel.EntryDate" class="form-control" />
        </div>
    </fieldset>
    <fieldset>
        <legend>Community Control Terms</legend>
        <div class="form-row">
            <label>Term of Control:</label>
            <InputSelect @bind-Value="communityControlModel.TermOfControl" class="form-control">
                <option>1 year</option>
                <option>6 months</option>
                <option>18 months</option>
                <option>2 years</option>
                <option>3 years</option>
                <option>4 years</option>
                <option>5 years</option>
            </InputSelect>
        </div>
        <div class="form-row">
            <label>Report Frequency:</label>
            <InputSelect @bind-Value="communityControlModel.ReportFrequency" class="form-control">
                <option>daily (Monday through Friday)</option>
                <option>every Monday</option>
                <option>once a week (as ordered)</option>
            </InputSelect>
        </div>
        <div class="form-row">
            <label>Report to Jail:</label>
            <InputCheckbox @bind-Value="communityControlModel.ReportToJail" />
        </div>
        <div class="form-row">
            <label>Jail Report Date:</label>
            <InputDate @bind-Value="communityControlModel.JailReportDate" class="form-control" />
        </div>
        <div class="form-row">
            <label>Jail Report Time:</label>
            <InputText @bind-Value="communityControlModel.JailReportTime" class="form-control" />
        </div>
        <div class="form-row">
            <label>Jail Days to Serve:</label>
            <InputText @bind-Value="communityControlModel.JailDaysToServe" class="form-control" />
        </div>
    </fieldset>
    <fieldset>
        <legend>Conditions</legend>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.InterlockVehicles" /> Only operate vehicles with certified ignition interlock</label>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.NoAlcoholOrdered" /> No Alcohol Conditions</label>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.GpsExclusion" /> Comply with court ordered GPS Exclusion Zone</label>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.ScramOrdered" /> Submit to continuous alcohol monitoring (SCRAM) for:</label>
            <InputSelect @bind-Value="communityControlModel.ScramDays" class="form-control">
                <option>15 days</option>
                <option>30 days</option>
                <option>45 days</option>
                <option>60 days</option>
                <option>75 days</option>
                <option>90 days</option>
                <option>180 days</option>
            </InputSelect>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.NoContact" /> No Contact with:</label>
            <InputText @bind-Value="communityControlModel.NoContactWith" class="form-control" placeholder="No Contact Person(s) Name(s)" />
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.Antitheft" /> Complete Anti-theft/Shoplifting Program</label>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.AlcoholTreatment" /> Comply with Alcohol/Drug Dependency Counseling and Treatment</label>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.DomesticViolenceProgram" /> Complete Domestic Violence Offender Program</label>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.AngerManagement" /> Complete Anger Management Class</label>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.MentalHealthTreatment" /> Comply with Mental Health Counseling and Treatment</label>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.DriverInterventionProgram" /> Complete Driver Intervention Program</label>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.CommunityService" /> Community Service required</label>
            <InputSelect @bind-Value="communityControlModel.CommunityServiceHours" class="form-control">
                <option>25 hours</option>
                <option>50 hours</option>
                <option>100 hours</option>
                <option>200 hours</option>
                <option>500 hours</option>
            </InputSelect>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.PayRestitution" /> Pay Restitution as ordered by the Court</label>
        </div>
        <div class="form-row">
            <label><InputCheckbox @bind-Value="communityControlModel.SpecializedDocket" /> Agree to comply with terms of specialized docket:</label>
            <InputSelect @bind-Value="communityControlModel.SpecializedDocketType" class="form-control">
                <option>OVI Docket</option>
                <option>Mental Health Docket</option>
                <option>Mission (Veteran's) Court</option>
            </InputSelect>
        </div>
    </fieldset>
    <div class="form-row mt-3">
        <button type="submit" class="btn btn-success">Open Entry</button>
        <button type="button" class="btn btn-danger">Close Dialog</button>
        <button type="button" class="btn btn-secondary">Cancel</button>
        <button type="button" class="btn btn-warning">Clear Fields</button>
    </div>
</EditForm>

@code {
    private CommunityControlTermsModel communityControlModel = new();

    private void HandleValidSubmit()
    {
        // TODO: Submit to API
    }

    public class CommunityControlTermsModel
    {
        [Required]
        public string DefendantFirstName { get; set; }
        [Required]
        public string DefendantLastName { get; set; }
        public string CaseNumber { get; set; }
        public DateTime? EntryDate { get; set; }
        public string TermOfControl { get; set; }
        public string ReportFrequency { get; set; }
        public bool ReportToJail { get; set; }
        public DateTime? JailReportDate { get; set; }
        public string JailReportTime { get; set; }
        public string JailDaysToServe { get; set; }
        public bool InterlockVehicles { get; set; }
        public bool NoAlcoholOrdered { get; set; }
        public bool GpsExclusion { get; set; }
        public bool ScramOrdered { get; set; }
        public string ScramDays { get; set; }
        public bool NoContact { get; set; }
        public string NoContactWith { get; set; }
        public bool Antitheft { get; set; }
        public bool AlcoholTreatment { get; set; }
        public bool DomesticViolenceProgram { get; set; }
        public bool AngerManagement { get; set; }
        public bool MentalHealthTreatment { get; set; }
        public bool DriverInterventionProgram { get; set; }
        public bool CommunityService { get; set; }
        public string CommunityServiceHours { get; set; }
        public bool PayRestitution { get; set; }
        public bool SpecializedDocket { get; set; }
        public string SpecializedDocketType { get; set; }
    }
}
