@page "/notices/notices-freeform-civil"
@page "/notices/notices-freeform-civil/{CaseNumber}"
@inherits FormPageBase<NoticesFreeformCivilDto>

<div class="form-page">
<div class="form-card">
<h2>Notices &amp; Freeform Civil</h2>

<EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
	<FluentValidationValidator />
	<ValidationSummary />
	<div class="form-group">
		<label>Case Number</label>
		<InputText class="form-control" @bind-Value="Model.CaseNumber" />
	</div>
	<div class="form-group">
		<label>Entry Date</label>
		<InputDate class="form-control" @bind-Value="Model.EntryDate" />
	</div>
	<div class="form-group">
		<label>Defendant First Name</label>
		<InputText class="form-control" @bind-Value="Model.DefendantFirstName" />
	</div>
	<div class="form-group">
		<label>Defendant Last Name</label>
		<InputText class="form-control" @bind-Value="Model.DefendantLastName" />
	</div>
	<div class="form-group">
		<label>Notice Text</label>
		<InputTextArea class="form-control" @bind-Value="Model.NoticeText" />
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-success">Generate DOCX</button>
	</div>
</EditForm>

</div>
</div>

@code {
	protected override string ApiEndpoint => "noticesfreeformcivil";
}
